{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Espace administrateur{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary mt-3">
            Enregistrer
        </button>
    {{ form_end(form) }}

{% endblock %}