
<footer class="bg-light border-top py-4 mt-auto text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 mb-2 mb-md-0">
                <a href="/cgv.pdf" class="text-muted">CGV</a>
            </div>

            <div class="col-md-4 mb-2 mb-md-0 fw-bold">
                Esprit Déco
            </div>

            <div class="col-md-4">
                &copy; {{ "now"|date("Y") }} Esprit Déco
            </div>
        </div>
    </div>
</footer>