
<header class="hero-header">
    <div class="hero-content">
        <h1 class="hero-title">
            <span>Esprit</span> <span>Déco</span>
        </h1>
        <p class="lead">Beau chez soi, Bien chez soi !</p>
    </div>
</header>