{% extends 'base.html.twig' %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Espace administrateur</h1>

    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="{{ path('app_admin_list') }}" class="btn btn-primary btn-lg">Produit</a>
        <a href="{{ path('app_admin_new') }}" class="btn btn-success btn-lg">Catégorie</a>
        <a href="{{ path('app_admin_new') }}" class="btn btn-info btn-lg">Utilisateur</a>
    </div>
{% endblock %}