<h1>! Veuiller confimer votre Email!</h1>

<p>
    Veuiller confimer votre adress emailen cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confimer mon email</a>.
    ce lien va expirer {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
  bravo!
</p>
